<p>country-table works!</p>

<mat-table [dataSource]="dataSource">
  <ng-container  matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>

  </ng-container>
  <ng-container  matColumnDef="flag">
    <mat-header-cell *matHeaderCellDef>Flag</mat-header-cell>
    <mat-cell *matCellDef="let element"><img src='${element.flag}'></mat-cell>

  </ng-container>

  <ng-container  matColumnDef="population">
    <mat-header-cell *matHeaderCellDef>population</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.population}}</mat-cell>

  </ng-container>

  <ng-container  matColumnDef="currencies">
    <mat-header-cell *matHeaderCellDef>currency</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.currencies[0].name}}</mat-cell>

  </ng-container>

  <ng-container  matColumnDef="capital">
    <mat-header-cell *matHeaderCellDef>capital</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.capital}}</mat-cell>

  </ng-container>


  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>
